<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name=".VerdictAccessibilityService"
      android:exported="false"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>
      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/verdict_accessibility_config" />
    </service>
  </application>
</manifest>
